@charset "UTF-8";

header{
	border-bottom: 1px solid black;
}
.header-content {
	margin-bottom:5px;
}
.message{
	width:500px;
	background-color:#D9E5FF;
	padding:5px;
	border: 2px double black;
}

.comments{
	padding-top:5px;
}

